table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tbody tr:hover {
    background-color: #2d2d2d;
    color: white;
}

/* .deleteBtn{
    background-color: rgb(212, 72, 72);
} */